<p>Responsive meta tag
  Bootstrap is developed mobile first, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure
  proper rendering and touch zooming for all devices, add the responsive viewport meta tag to your</p>